<section class="bg-bg-surface grid grid-cols-[55fr_45fr] items-center">
  <div class="p-24">
    <span omniTitle type="subheading" class="mb-4">Testimonials</span>
    <h2 omniTitle type="secondary" class="mb-24">
      Once you try it, you can't go back
    </h2>

    <div class="grid grid-cols-2 gap-x-20 gap-y-12">
      @for (testimonial of testimonials(); track $index) {
        <app-testimonial [testimonial]="testimonial" />
      }
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 p-4">
    @for (img of photos(); track $index) {
      <figure class="overflow-hidden">
        <img
          class="block w-full transition-all duration-400 hover:scale-110"
          [src]="img.src"
          [alt]="img.alt"
        />
      </figure>
    }
  </div>
</section>
