<header class="bg-bg-surface flex h-24 items-center justify-between px-12">
  <a href="#" aria-label="Omnifood">
    <img class="h-5.5" alt="Omnifood logo" src="images/omnifood-logo.png" />
  </a>
  <nav aria-label="Main sections of the page">
    <ul class="flex items-center gap-12">
      @for (link of links; track $index) {
        <li>
          <a
            class="text-text-strong hover:text-primary-hover inline-block text-lg font-medium transition-all duration-300"
            [href]="link.href"
          >
            {{ link.label }}
          </a>
        </li>
      }
      <li>
        <a
          class="bg-primary hover:bg-primary-hover inline-block rounded-lg px-6 py-3 text-lg leading-none font-medium text-white transition-all duration-300"
          href="#"
        >
          Try for free
        </a>
      </li>
    </ul>
  </nav>
</header>
