<div
  class="overflow-hidden rounded-xl shadow-[0_2.4rem_4.8rem_#00000013] transition-all duration-400 hover:-translate-y-5"
>
  <img [src]="meal().imageUrl" class="w-full" [alt]="meal().name" />
  <div class="px-12 pt-8 pb-12">
    @if (meal().type && meal().type.length > 0) {
      <div class="mb-3 flex gap-1">
        @for (type of meal().type; track $index) {
          <app-meal-tag [type]="type" />
        }
      </div>
    }
    <p class="text-text-strong mb-8 text-2xl font-semibold">
      {{ meal().name }}
    </p>
    <ul class="flex flex-col gap-5">
      <li class="flex items-center gap-4 text-lg">
        <lucide-icon [img]="icons.flame" class="text-primary" />
        <span>
          <strong>{{ meal().calories }}</strong> calories
        </span>
      </li>
      <li class="flex items-center gap-4 text-lg">
        <lucide-icon [img]="icons.utensilsCrossed" class="text-primary" />
        <span>
          NutriScore &reg; <strong>{{ meal().nutriscore }}</strong>
        </span>
      </li>
      <li class="flex items-center gap-4 text-lg">
        <lucide-icon [img]="icons.star" class="text-primary" />
        <span>
          <strong>{{ meal().rating }}</strong> rating ({{
            meal().numberOfReviews
          }})
        </span>
      </li>
    </ul>
  </div>
</div>
