<section class="py-24">
  <div class="mx-auto max-w-7xl px-8 text-center">
    <span
      class="text-primary-hover mb-4 block font-medium tracking-[0.75px] uppercase"
    >
      Meals
    </span>
    <h2 class="heading-secondary">Omnifood AI chooses from 5,000+ recipes</h2>
  </div>

  <div
    class="margin-bottom-md mx-auto mb-12 grid max-w-7xl grid-cols-3 gap-x-24 gap-y-16 px-8"
  >
    @for (meal of highlightedMeals(); track $index) {
      <app-meal-card [meal]="meal" />
    }

    <div>
      <h3 class="heading-tertiary">Works with any diet:</h3>
      <ul class="flex flex-col gap-4" aria-label="Meal types">
        @for (meal of mealsTypes; track $index) {
          <li class="flex items-center gap-4 text-lg">
            <lucide-icon [img]="checkIcon" class="text-primary" />
            <span>{{ meal }}</span>
          </li>
        }
      </ul>
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-8 text-center text-lg">
    <a
      href="#"
      class="text-primary border-primary hover:text-primary-hover inline-block border-b pb-0.5 leading-none transition-all duration-300 hover:border-transparent"
    >
      See all recipes &rarr;
    </a>
  </div>
</section>
