@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-rubik: 'Rubik', sans-serif;

  --color-text-default: #555;
  --color-text-strong: #333;
  --color-text-muted: #767676;

  --color-bg-surface: #fdf2e9;
  --color-bg-body: #fff;

  --color-primary: #e67e22;
  --color-primary-hover: #cf711f;
  --color-primary-focus: #e67d2280;
}

@layer components {
  .heading-primary {
    @apply text-text-strong mb-8 text-5xl leading-[1.05] font-bold tracking-[-0.5px];
  }

  .heading-secondary {
    @apply text-text-strong mb-24 text-5xl leading-[1.2] font-bold tracking-[-0.5px];
  }

  .heading-tertiary {
    @apply text-text-strong mb-8 text-3xl leading-[1.2] font-bold tracking-[-0.5px];
  }

  .btn {
    @apply inline-block rounded-lg px-8 py-4 text-xl leading-none font-semibold transition-all duration-300;
  }

  .btn-full {
    @apply bg-primary hover:bg-primary-hover focus:bg-primary-focus text-white;
  }

  .btn-outline {
    @apply text-text-default hover:bg-bg-surface bg-white shadow-[inset_0_0_0_3px_#fff];
  }
}

*:focus {
  @apply shadow-[0_0_0_0.5rem_var(--color-primary-focus)] outline-none;
}

body {
  @apply font-rubik text-text-default leading-none font-normal;
}
